.info {
    display: grid;
    text-align: center;
    justify-items: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    background-color: orange;
    width: 30%;
    opacity: 0.8;
  }